.baslik {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family:"Roboto Light", sans-serif;
    font-size: 15px;
    display: block;
    margin-top: 10px ;
    font-weight: lighter;
   

  }
  .img1 {
   margin-top: -580px;
   margin-left: 65px;
    
  }


.img2 {
  margin-top: -652px;
  margin-left: 733px;
 

  
}


.img3 {
  margin-top: -316px;
  margin-left: 1060px;
 

  
}
  
.img4 {
  margin-top: 16px;
  margin-left: 733px;
 

  
}

.img5 {
  margin-top: -317px;
  margin-left: 1060px;

  
}
  
  
     