/* Product Image Album Start */
.product-detail-section {
    display: flex;
    margin-top: 85px;
    margin-left: 300px;
}
.product-image-album {
    display: flex;
    gap: 30px;
    max-height: 610px;
}
.product-main-img {
    max-width: 476px;
}
.product-small-images {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    max-height: 610px;
    gap: 20px;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.img-main {
    max-height: 610px;
    max-width: 476px;
}
.img-small{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
/*  Product Image Album Emd */
