/*Main Header Template Start*/
* {
  margin: 0;
  padding: 0;
  margin: auto;
}

.header-section-1 {
  background-color: rgb(30, 40, 50, 0.05);
  width: 100%;
  margin: auto;
}

.first-line {
  display: flex;
  justify-content: space-around;
  gap: 300px;
  width: 1320px;
  height: 59px;
  border: 1px solid #e3e3e3;
  border-left: none;
  border-top: none;
  border-right: none;
}

.marka-design {
  width: 190px;
  height: 34px;
}

.Title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.right-box {
  width: 221px;
  height: 25px;
  display: flex;
  justify-content: space-around;
}

.right-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-1:hover{
  cursor: pointer;
  color: #f55253;
  transition: all 0.3s;
}

.right-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-2:hover{
  cursor: pointer;
  color: #f55253;
  transition: all 0.3s;
}

.right-text {
  display: inline;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1e2832;
  padding-left: 5px;
}
/*Main Header Template End*/