body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Main Header Template Start*/
.header-section-1 {
  background-color: rgb(30, 40, 50, 0.05);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-line {
  display: flex;
  justify-content: space-around;
  gap: 300px;
  width: 1320px;
  height: 59px;
  border: 1px solid #e3e3e3;
  border-left: none;
  border-top: none;
  border-right: none;
  margin-top: 20px;
}

.search-icon {
  width: 25px;
  height: 25px;
}

.marka-design {
  width: 190px;
  height: 34px;
}

.Title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.right-box {
  width: 221px;
  height: 25px;
  display: flex;
  justify-content: space-around;
}

.right-1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1e2832;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  background-color: transparent;
  border: none;
}

.right-1:hover {
  cursor: pointer;
  color: #f55253;
  transition: all 0.3s;
}

.account-icon :hover {
  fill: #f55253;
  transition: all 0.3s;
}

.right-2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1e2832;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  background-color: transparent;
  border: none;
}

.right-2:hover {
  cursor: pointer;
  color: #f55253;
  transition: all 0.3s;
}

.shopping-icon :hover {
  fill: #f55253;
  transition: all 0.3s;
}

/*Main Header Template End*/

/*Main Header Template Responsiveness Start*/
@media screen and (max-width: 1030px) {
  .header-section-1 {
    .first-line {
      gap: 200px;
    }

    .marka-design {
      display: flex;
      align-items: center;
    }
  }
}
@media screen and (max-width: 830px) {
  .header-section-1 {
    .first-line {
      gap: 100px;
    }
  }
}
@media screen and (max-width: 630px) {
  .header-section-1 {
    .first-line {
      gap: 50px;
    }
  }
}
@media screen and (max-width: 530px) {
  .first-line {
    height: 85px;
    display: block;
  }

  .search-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marka-design {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-box {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
  }
}
@media screen and (max-width: 430px) {
  .first-line {
    height: 85px;
    display: block;
  }

  .search-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marka-design {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-box {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
  }
}

/*Main Header Template Responsiveness End*/

/*Header Category Menu Template Start*/
.header-section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 40, 50, 0.05);
  width: 100%;
  padding-bottom: 70px;
}

.second-line-menu {
  width: 1320px;
  height: 24px;
  padding-top: 30px;
}

.menu-sections {
  margin: 0;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-section {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.menu-section:hover {
  cursor: pointer;
  color: #f55253;
  font-weight: 500;
}
/*Header Category Menu Template End*/

/*Header Category Menu Template Responsiveness Start*/
@media screen and (max-width: 1113px) {
  .second-line-menu {
    padding: 30px 30px 0px 30px;
  }

  .menu-sections {
    text-align: center;
  }
}
@media screen and (max-width: 785px) {
  .menu-sections {
    align-items: start;
    justify-content: space-between;
    gap: 25px;
  }
}
@media screen and (max-width: 685px) {
  .header-section-2 {
    align-items: start;
    height: 350px;
    padding-bottom: 50px;
  }

  .second-line-menu {
    width: 400px;
    height: 320px;
    padding-top: 20px;
  }

  .menu-sections {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
  }

  .menu-section {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 450px;
  }
}
@media screen and (max-width: 530px) {
  .second-line-menu {
    padding-right: 40px;
  }
}
/*Header Category Menu Template Responsiveness End*/

/* ====== Hero Section Start ====== */
.hero-section{
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E28320D;
  overflow: hidden;
  font-family: "Roboto",sans-serif;
}
.hero-section-container{
  max-width: 1320px;
  padding:80px;
  display:flex;
  align-items: center;
  gap: 85px;
  margin:0 auto;
}
.collections-content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 20px;
}
.collections-content h1{
  font-size: 74px;
  font-weight:300;
  line-height: 55px;
}
.collections-content p{
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
}
.btn-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 223px;
  padding: 19px 26px;
  gap: 8px;
  background-color: #1E2832;
  color: white;
  font-family: "Roboto",sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.btn-content img{
  margin:5px;
}
.btn-content:hover{
  background-color: #FF6F61;
  border: none;
  color: white;
}
.product-image {
  position: relative;
}
.product-image img{
  border-radius: 34% 0;
  max-width: 442px;
  height: 562px;
  margin-right: 500px;
  position: relative;
  margin-right: 0;
  z-index: 1;
}
.bg-design{
  top:30px;
  right:-15px;
  width: 424px;
  height: 542px;
  position:absolute;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 34% 0;
  z-index: 0;
}
.left-frame {
  position:absolute;
  top: 400px;
  left: 0px;
}
.right-frame {
  position: absolute;
  transform: rotate(-15deg);
  right:0px;
  top: 350px;
}
/* ====== Hero Section End ====== */

/* Hero Section ==Responsiveness== Start */
@media (max-width: 1024px) {
  .hero-section-container {
      flex-direction: column;
      padding: 40px;
      gap: 40px;
  }
  .collections-content h1 {
      font-size: 50px;
      line-height: 45px;
      padding-bottom: 25px;
  }
  .collections-content p {
      font-size: 24px;
      line-height: 40px;
      padding-bottom: 25px;
  }
  .product-image img {
      max-width: 100%;
      height: auto;
  }
  .bg-design {
      display: none; 
  }
  .btn-content {
      padding: 15px 20px;
  }
}
@media (max-width: 768px) {
  .hero-section-container {
      padding: 20px;
      gap: 20px;
  }
  .collections-content h1 {
      font-size: 36px;
      line-height: 40px;
      padding-bottom: 17px;
  }
  .collections-content p {
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 17px;
  }
  .btn-content {
      width: 180px;
      font-size: 18px;
      padding: 10px 15px;
  }
  .left-frame, .right-frame {
      display: flex;
  }
}
/* Hero Section ==Responsiveness== End */

/*Brand-Logos Start*/
.Brand-Logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 1000px;
  height: 70px;
  justify-content: space-between;
  gap: 80px;
  display: flex;
  overflow: hidden;
}

/*gap çalışmadı padding verdim
  width değeri:1320px için figmadan büyük duruyor*/

.logos {
  height: 70px;
  display: flex;
  align-items: center;
  animation: slide-left 15s linear infinite;
}

.brand {
  width: 200px;
  height: 70px;
  padding: 0px 40px 0px 40px;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*Brand-Logos End*/
/* ===== ProductCard Template  Start ====*/
.ProductCard-Template {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 5%;
  margin-inline: auto;
  width: 1320px;
  margin-top: 50px;
}

.card-top,
.card-alt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.card {
  width: 312px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.top-product {
  width: 312px;
  height: 400px;
}

.bottom-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.title-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13.5px;
}

.title-product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-product-category {
  font-family: "Open Sans", sans-serif;
  line-height: 21.79px;
  font-size: 16px;
  color: gray;
  font-weight: 400;
  text-align: left;
  flex: 1;
}

.title-product-price {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  margin: 0;
  flex: 0;
}

.top-product-img {
  width: 100%;
  height: auto;
}

.discount-price {
  font-size: 16px;
  margin-left: 10px;
}

.discount-price.text-red {
  color: #ff6666;
  font-weight: bold;
}

.discount-price.text-black-opc {
  color: #808080;
  text-decoration: line-through;
  font-weight: bold;
}
.border {
  display: flex;
  width: 310px;
  height: 60px;
  opacity: 0;
  transition: opacity 0.5s ease;
  bottom: 95px;
  justify-content: space-between;
  position: absolute;
}
.top-product:hover .border {
  opacity: 1;
}
.button {
  border: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto";
  background-color: #1e2832;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.button:hover {
  color: #ff6f61;
}
.mr-15 {
  margin-right: 15px !important;
}
.ProductCard-Template .bg-blue {
  background-color: #1e2832;
  margin-bottom: 40px;
}
.ic-features,
.ic-shop {
  color: white;
  font-size: 20px;
  margin-top: 5px;
  transition: color 0.3s ease;
}
.ic-features:hover,
.ic-shop:hover {
  color: #ff6f61;
}
.ic-margin {
  margin-right: 10px;
}
.left-icon {
  display: flex;
  width: 70px;
  margin: 15px;
  justify-content: space-between;
}
/* ===== ProductCard Template  Finish ====*/

/* ===== Top Section Product Start ====*/
.ProductCard-Template .section-title {
  color: #000000;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  line-height: 58.59px;
  text-align: center;
}
.ProductCard-Template .top-section-products {
  display: flex;
  justify-content: space-between;
}
.ff-opensans {
  font-family: "Open Sans", sans-serif;
}
.ProductCard-Template ul {
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-category-style ul li:first-child a {
  color: #000000;
}

.ProductCard-Template li {
  display: inline-block;
  margin-right: 25px;
}
.ProductCard-Template a {
  text-decoration: none;
  color: #00000080;
}
.ProductCard-Template a:hover {
  color: #ff6f61;
}
.btn-syle:hover {
  background-color: #ff6f61;
  color: white;
}
.btn-syle {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #1e2832;
  width: 93px;
  height: 32px;
  cursor: pointer;
  border: none;
}
.products-card-category {
  display: flex;
  justify-content: space-between;
}
.image-section {
  position: relative;
}
.card-body {
  margin-top: 10px;
  gap: 5px;
  width: 292px;
  height: 60px;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  padding-bottom: 20px;
  margin-left: 10px;
}
.body-subtitle {
  margin-top: 10px;
  color: #00000080;
  display: flex;
  justify-content: space-between;
}
.btn-syle {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #1e2832;
  height: 32px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 12px; /* Butonun içindeki boşluk */
}

.btn-syle img.icon {
  max-width: 20px;
  height: auto;
  margin-right: 8px; /* İkon ile "Filter" yazısı arasındaki boşluk */
  display: inline-block; /* İkonun buton içinde düzgün hizalanmasını sağlar */
}

.btn-syle:hover {
  background-color: #ff6f61;
  color: white;
}

.button-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*===== Top Section Product Finish  ====*/

/* ===== Best Sellers Carousel Start ====*/
.best-sellers-section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 1320px;
  height: 639px;
  gap: 35px;
  font-family: "Open Sans";
  margin-bottom: 5%;
}
.best-sellers-section .section-title {
  color: #000000;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  text-align: center;
}
.top-section-products {
  display: flex;
  justify-content: space-between;
}
.best-sellers-section ul {
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.best-sellers-section li {
  display: inline-block;
  margin-right: 25px;
}
.best-sellers-section a {
  text-decoration: none;
  color: #00000080;
}
.best-sellers-section a:hover {
  color: #ff6f61;
}
.btn-syle:hover {
  background-color: #ff6f61;
  color: white;
}
.btn-syle {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #1e2832;
  width: 93px;
  height: 32px;
  cursor: pointer;
  border: none;
}
.products-card-category {
  display: flex;
  justify-content: space-between;
}
.image-section {
  position: relative;
}
.card-body {
  margin-top: 10px;
  gap: 5px;
  width: 292px;
  height: 60px;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  padding-bottom: 20px;
  margin-left: 10px;
}
.body-subtitle {
  margin-top: 10px;
  color: #00000080;
  display: flex;
  justify-content: space-between;
}
.discount-price {
  font-size: 14px;
  font-weight: 600;
  margin-top: auto;
  margin-left: 12px;
}
.text-line-through {
  text-decoration: line-through;
}
.fs-16 {
  font-size: 16px;
}
.opc {
  opacity: 20%;
}
.text-red {
  color: #ff6f61 !important;
}
.text-black-opc {
  color: #00000080 !important;
}
.text-black {
  color: #000 !important;
}
.border {
  display: flex;
  width: 310px;
  height: 60px;
  opacity: 0;
  transition: 0.5s ease;
  bottom: 95px;
  justify-content: space-between;
  position: absolute;
}
.image-section:hover .border {
  opacity: 1;
}
.button {
  border-style: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto";
}
.mr-15 {
  margin-right: 15px !important;
}
.button:hover {
  color: #ff6f61;
}
.bg-blue {
  background-color: #1e2832;
}
.ic-features {
  color: white;
  font-size: 20px;
  margin-top: 5px;
}
.ic-features .ic-shop:hover {
  color: #ff6f61;
}
.ic-margin {
  margin-right: 10px;
}
.left-icon {
  display: flex;
  width: 70px;
  margin: 15px;
  justify-content: space-between;
}
/* ====== Best Sellers Carousel End ==== */

/* ==== Newsletter Instagram Start ====*/
.newsletter-section {
  display: grid;
  place-items: center;
  background-color: #1e28320d;
  font-family: "Roboto", sans-serif;
  height: auto;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 3%;
  background-color: #1e28320d;
  font-family: "Roboto", sans-serif;
  padding-bottom: 50px;
}
/* .instagram-album {
    display: grid;
    grid-template-columns: repeat(6, fit-content(200px)); 
    gap: 20px;
    place-content: center;
    margin-left: auto;
    margin-right: auto;
} */
.newsletter-section .instagram-container .instagram-album {
  gap: 24px;
  display: flex;
  margin-top: 1.7rem;
  place-content: center;
}
.newsletter-section .instagram-container .instagram-title {
  padding: 0;
  margin-top: 50px;
  text-align: center;
}
.single-photo {
  width: 200px;
  height: 200px;
}
.m-50 {
  margin: 50px;
}
.img-insta {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* .instagram-album {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center; 
    margin: 0 auto;
} */

.single-photo {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .img-insta {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.newsletter-section .instagram-container {
  padding: 10px;
}
.newsletter-section .instagram-title .title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 500;
  padding-bottom: 50px;
}

.newsletter-section .instagram-container .instagram-title {
  padding: 0;
  margin-top: 50px;
  text-align: center;
}

/* ==== Newsletter Instagram End ====*/

/* ==== Newsletter Form Template Start ==== */
.title-form {
  font-size: 50px;
  font-weight: bolder;
  line-height: 58.59px;
  text-align: center;
  text-shadow: 0px 4px 2px #00000040;
}
.form-email {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.email {
  width: 85%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #1e283280;
}
.email::placeholder {
  color: #1e283280;
}
.email:focus {
  outline: none;
}
.btn-submit {
  width: 10%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1e2832;
  padding: 5px;
  font-family: "Open Sans";
  font-size: 14px;
}
.btn-submit:hover {
  color: #ff6f61;
  border-color: #ff6f61;
  cursor: pointer;
}

.title-form {
  font-size: 50px;
  font-weight: bolder;
  line-height: 58.59px;
  text-align: center;
  text-shadow: 0px 4px 2px #00000040;
}
.form-email {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.email {
  width: 35%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #1e283280;
}
.email::placeholder {
  color: #1e283280;
}
.email:focus {
  outline: none;
}
.btn-submit {
  width: 9%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1e2832;
  padding: 5px;
  font-family: "Open Sans";
  font-size: 14px;
}
.btn-submit:hover {
  color: #ff6f61;
  border-color: #ff6f61;
  cursor: pointer;
}
.ml-15 {
  margin-left: 15px;
}
/* ==== Newsletter Form Template End ==== */

/* === Newsletter Instagram Responsiveness === */

@media screen and (max-width: 1400px) {
  .instagram-album {
    /* display: grid;
        grid-template-columns: repeat(3,1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media screen and (max-width: 840px) {
  .instagram-album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media screen and (max-width: 740px) {
  .instagram-container .form-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-submit {
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .instagram-album {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 320px) {
  .instagram-album {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}
